{% extends "base.html" %}

{% block content %}
  <h1>Model: {{ car.model }}</h1>
  <br>
  <p><strong>Manufacturer:</strong> ({{ car.manufacturer.name }}, {{ car.manufacturer.country }})</p>
  <br>
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3 class="mb-0">Drivers</h3>
    <form action="{% url 'taxi:car-assign-toggle' pk=car.pk %}" method="post">
      {% csrf_token %}
      {% if user not in car.drivers.all %}
        <button type="submit" class="btn btn-success">Assign me to this car</button>
      {% else %}
        <button type="submit" class="btn btn-danger">Delete me from this car</button>
      {% endif %}
    </form>
  </div>
  <hr>

  {% for driver in car.drivers.all %}
    <div>
      <p><strong>Username:</strong> {{ driver.username }}</p>
      <p><strong>Full name:</strong> {{ driver.first_name }} {{ driver.last_name }}</p>
      <p><strong>License number:</strong> {{ driver.license_number }}</p>
    </div>
    {% if not forloop.last %}
      <hr>
    {% endif %}
  {% endfor %}
  <div class="d-flex gap-2 justify-content-start mt-3">
    <a href="{% url 'taxi:car-update' pk=car.id %}" class="btn btn-secondary link-to-page">Update</a>
    <a href="{% url 'taxi:car-delete' pk=car.id %}" class="btn btn-danger link-to-page">Delete</a>
  </div>
{% endblock %}
